.burger__button {
    width: 100%;
    height: 100%;
    position: relative;

    &.opened {
        :first-child {
            top: 45%;
            transform: rotate(-45deg);
        }
        :nth-child(2) {
            width: 0;
            opacity: 0;
        }
        :last-child {
            top: 45%;
            transform: rotate(45deg);
        }
    }

    span {
        position: absolute;
        right: 0;
        width: 100%;
        height: 10%;
        border-radius: 1rem;
        background: white;
        transition: .5s;

        &:first-child {
            top: 20%;
        }
        &:nth-child(2) {
            top: 45%;
        }
        &:last-child {
            top: 70%;
        }
    }
}