@use "@styles/variables";

.hero-screen {
    width: 100%;
    height: 80dvh;

    position: relative;
    overflow: hidden;

    &__image {
        width: 100%;
        height: 100%;
        
        position: absolute;
        inset: 0;
        z-index: -1;
        opacity: 0.5;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            user-select: none;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;

            background: radial-gradient(
                ellipse at center,
                rgba(0, 0, 0, 0) 10%,
                var(--background-color) 100%
            );

            pointer-events: none;
        }
    }

    &__content {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
    }
}