@use "variables";

$logo-size: 3rem;
$logo-margin: 1rem;
$navbar-size: $logo-size + $logo-margin * 2;

body:has(.navbar.expanded) {
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: $navbar-size;
    background: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    gap: 1rem;
    backdrop-filter: blur(1rem);

    &__spacer {
        flex: 1;
    }

    &__mid {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;

        &-img {
            width: $logo-size;
            margin: $logo-margin;
            user-select: none;
        }
        &-slogan {
            font-size: 32px;
            display: none;
            user-select: none;
        }
        &-burger {
            height: 50%;
            aspect-ratio: 1/1;
            margin-left: auto;
            margin-right: $logo-margin;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin: 0 1rem;
    }

    &__button {
        font-size: 20px;
        color: #ccc;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: var(--accent-main);
        }
    }

    &__profile {
        width: fit-content;
        height: $logo-size;
        margin: $logo-margin;
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: .5rem;
        border: 2px solid transparent;
        
        &:hover {
            background: rgba(20,20,20);
            border-color: rgba(28,28,28);
            border-radius: .5rem;
        }

        .avatar {
            height: $logo-size - $logo-margin;
            margin: 5px;
        }

        &-expand {
            margin-right: .5rem;
        }
    }

    &__afterspacer {
        width: 100%;
        height: $navbar-size;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        transition: .5s;

        &__spacer {
            flex: 0;
        }
        
        &__spacer:first-child {
            display: none;
        }

        &__mid {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        &__logo {
            width: 100%;

            &-slogan {
                display: inline;
            }
        }

        &__profile {
            margin-right: auto;
        }

        &.expanded {
            height: 100%;
        }
        
        &__buttons {
            flex-direction: column;
        }
    }
}