@use "variables";

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "LXGW WenKai Mono TC";
    background: var(--background-color);
    color: #dedede;
}

img {
    user-select: none;

    &.avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}